.DS_Store
**/node_modules
**/coverage
**/npm-debug.log
**/bower_components
**/target
**/node
**/build

.settings
*.class
*.project
*.orig
**/.classpath
**/.factorypath
**/.springBeans

# Webstorm / IntelliJ
.idea
*.iml
out/

# VSCode-Java
.sts4-cache

# VSCode Debug Configs
frontend/.vscode/launch.json
.vscode/