body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.8125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.8125rem;
}
